body {
  font-family: "Roboto", sans-serif;
  color: rgb(33, 33, 33);
  font-size: 14px;
}

.comp-name {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgb(0, 0, 0);
}
.comp-name__first-word {
  color: rgb(33, 150, 243);
}
.comp-name:visited {
  color: transparent;
}
.comp-name__second-word--dark-bgd {
  color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

ul,
p,
figure,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  min-width: 305px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.section {
  padding: 60px 0px;
}

.section-header {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding-bottom: 50px;
}

.link {
  color: rgb(33, 33, 33);
  text-decoration: none;
  line-height: 1.14;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.link:hover, .link:focus {
  color: rgb(33, 150, 243);
}

.social-icon-box {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.social-icon__space {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__space--dark-bgd {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icon__svg {
  fill: rgb(175, 177, 184);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: "fill, background-color";
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__space:focus .social-icon__svg, .social-icon__svg:focus, .social-icon__svg:active, .social-icon__svg:hover {
  fill: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.social-icon__svg--dark-bgd {
  fill: rgb(255, 255, 255);
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header .container {
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header__navi {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__tab--viewed {
  color: rgb(33, 150, 243);
}
.header__navi-tabs {
  display: none;
  padding: 23px;
  position: relative;
}
.header__navi-tabs .link {
  margin: 23px;
}
.header__navi-tabs .link::after {
  position: absolute;
  top: 28px;
  content: "";
  background-color: transparent;
  height: 4px;
  border-radius: 2px;
  display: block;
  top: 46px;
  left: 0;
  width: 100%;
  cursor: default;
  pointer-events: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navi-tabs .link:hover::after {
  background-color: rgb(33, 150, 243);
}
.header__navi-tabs .header__tab--viewed::after {
  background-color: rgb(33, 150, 243);
}
.header__contacts {
  display: none;
  align-items: baseline;
}
.header__contacts .link {
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
  margin: 25px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts .link:hover, .header__contacts .link:focus {
  color: rgb(33, 150, 243);
}
.header__contact-icon {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-icon:hover, .header__contact-icon:focus {
  fill: rgb(33, 150, 243);
}
.header__mobile-menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__mobile-menu {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mobile-menu:hover, .header__mobile-menu:focus {
  fill: rgb(33, 150, 243);
}

.order-buttonfield {
  background: rgb(47, 48, 58);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/img_background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1600px;
  min-height: 400px;
  display: flex;
  align-content: center;
}
.order-buttonfield .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.order-buttonfield__head {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.order-buttonfield__button {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.strengths__list {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.strengths__single-box {
  max-width: 450px;
}
.strengths__single-box:not(last-child) {
  padding-bottom: 30px;
}
.strengths__single-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: rgb(245, 244, 250);
  border-radius: 4px;
  margin: 0 auto;
}
.strengths__box-header {
  font-size: 14px;
  line-height: 1.71;
  padding-top: 30px;
  text-align: center;
}
.strengths__box-text {
  line-height: 1.71;
  color: rgb(117, 117, 117);
}

.activity {
  display: none;
  padding-top: 0;
}
.activity .container {
  display: flex;
  flex-direction: column;
}
.activity__boxes {
  display: flex;
  justify-content: space-between;
}
.activity__box-plaece {
  display: flex;
  position: relative;
}
.activity__box-plaece > .activity__signature-box {
  position: absolute;
  bottom: 0;
}
.activity__signature-box {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-top: 27px;
}

.team {
  background-color: rgb(245, 244, 250);
}
.team .container {
  display: flex;
  flex-direction: column;
}
.team__list {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.team__member {
  max-width: 450px;
}
.team__member:not(:nth-of-type(4)) {
  padding-bottom: 30px;
}
.team__member-box {
  margin: auto;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__member-label {
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  padding: 30px;
  background-color: rgb(255, 255, 255);
}
.team__member-name {
  font-weight: 500;
}
.team__member-profession {
  color: rgb(117, 117, 117);
}
.team__member-social-icons {
  display: flex;
  justify-content: space-between;
}

.clients .container {
  display: flex;
  flex-direction: column;
}
.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__logo-icon {
  fill: rgb(175, 177, 184);
  width: 170px;
  height: 92px;
  padding: 15px 31px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition-property: "fill, border";
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .container {
  display: flex;
  flex-direction: column;
}
.portfolio__filter-buttons {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.portfolio__boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.portfolio__creation-box {
  color: rgb(33, 33, 33);
  text-decoration: none;
}
.portfolio__box-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(105%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__box-figcaption {
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(255, 255, 255);
  z-index: 10;
}
.portfolio__name-of-project {
  font-size: 18px;
  line-height: 2;
}
.portfolio__kind-of-project {
  font-size: 16px;
  line-height: 1.89;
}
.portfolio__filter-buttons .portfolio__filter-button {
  font-style: normal;
  border: none;
  background: rgb(245, 244, 250);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  font-weight: 500;
  padding: 6px 22px;
  margin: 7px 4px;
  transition-property: "color, border-color, box-shadow";
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-buttons .portfolio__filter-button:active, .portfolio__filter-buttons .portfolio__filter-button:focus, .portfolio__filter-buttons .portfolio__filter-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio__box-figure {
  margin: auto;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__box-figure:hover, .portfolio__box-figure:active, .portfolio__box-figure:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__box-figure:hover .portfolio__box-description {
  transform: translateY(0);
}

.footer {
  color: rgb(255, 255, 255);
  line-height: 1.71;
  font-weight: 400;
  background: rgb(47, 48, 58);
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address-section {
  margin: 0 auto;
  padding-bottom: 60px;
}
.footer__comp {
  display: flex;
  justify-content: center;
}
.footer__address {
  padding-top: 20px;
  font-style: normal;
}
.footer__social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.footer__social-icons {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer__form-section {
  max-width: 600px;
}
.footer__address-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__address-links .link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-links .link:hover, .footer__address-links .link:focus {
  color: rgb(33, 150, 243);
}
.footer .ft-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.footer .ft-form__input {
  max-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding: 16px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}
.footer .ft-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer .ft-form__submit-button {
  width: 200px;
  height: 50px;
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: rgb(255, 255, 255);
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 34px;
  cursor: pointer;
}
.footer .ft-form .submit-button__icon-send {
  margin-top: 11px;
  width: 24px;
  height: 24px;
}

.order-the-service__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.order-the-service__modal {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  min-height: 609px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
}
.order-the-service__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-the-service__is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.order-the-service__is-hidden .order-the-service__modal {
  transform: translate(-50%, -50%) scale(0);
}
.order-the-service__form-group {
  display: flex;
  flex-direction: column;
}
.order-the-service__form-group p {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 23px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.order-the-service__label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(117, 117, 117);
}
.order-the-service__form-icon {
  fill: rgb(33, 33, 33);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 30px;
  left: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-the-service__submit-button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  border-color: transparent;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.order-the-service__checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(117, 117, 117);
  margin-left: 79px;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.order-the-service__checkbox-link {
  color: rgb(33, 150, 243);
}
.order-the-service__input {
  max-width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-the-service__input:hover, .order-the-service__input:focus, .order-the-service__input:active {
  border-color: rgb(33, 150, 243);
  outline: none;
}
.order-the-service__input:hover + .order-the-service__form-icon, .order-the-service__input:focus + .order-the-service__form-icon, .order-the-service__input:active + .order-the-service__form-icon {
  fill: rgb(33, 150, 243);
}
.order-the-service__textarea {
  resize: none;
  max-width: 370px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-top: 12px;
  padding-left: 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-the-service__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(117, 117, 117, 0.5);
}
.order-the-service__textarea:hover, .order-the-service__textarea:focus, .order-the-service__textarea:active {
  border-color: rgb(33, 150, 243);
  outline: none;
}
.order-the-service__checkbox-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  position: absolute;
  left: -24px;
  width: 16px;
  height: 15px;
  outline: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
  transition-property: "outline, background-image";
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.order-the-service__checkbox-input:checked {
  background-color: rgb(33, 150, 243);
  outline: 2px solid rgb(33, 150, 243);
  border-radius: 2px;
  /* background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A"); */
  /* background-image: url('../images/icons.svg#icon-check'); */
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mobile-menu__container {
  max-width: 767px;
  min-width: 320px;
  max-height: 796px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;
  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu__container.is-open {
  transform: translateX(0);
}
.mobile-menu__container .mobile-menu__menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu__menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.mobile-menu__menu-toggle--svg {
  fill: rgb(33, 33, 33);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__menu-toggle--svg:hover, .mobile-menu__menu-toggle--svg:focus {
  fill: rgb(33, 150, 243);
}
.mobile-menu__space {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__navi-tab {
  margin-bottom: 32px;
}
.mobile-menu__tab {
  font-size: 40px;
}
.mobile-menu__contact {
  font-size: 24px;
  margin-bottom: 32px;
}
.mobile-menu__contact--phone .link {
  font-size: 34px;
  color: rgb(33, 150, 243);
}
.mobile-menu__socials {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 32px;
}
.mobile-menu__social-link {
  font-size: 18px;
  padding-right: 10px;
  margin-top: 5px;
}
.mobile-menu__social-link:not(:first-of-type) {
  padding-left: 10px;
}
.mobile-menu__social-link:not(:last-of-type) {
  border-right: solid 1px rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-link > .link {
  color: rgb(33, 150, 243);
}

.clients__logo-icon:hover, .clients__logo-icon:active, .clients__logo-icon:focus, .clients__logo-pleace:focus .clients__logo-icon {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}

@media screen and (min-width: 768px) {
  .mobile-menu__container, .header__mobile-menu-button {
    display: none;
  }
  .header__navi-tabs {
    display: flex;
  }
  .header__contacts {
    display: block;
  }
  .header__contact {
    margin: 5px auto;
  }
  .header .container {
    height: 80px;
  }
  .strengths__list, .team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .strengths__single-box, .team__memeber-box {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__filter-buttons {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .order-buttonfield {
    min-height: 600px;
  }
  .header__contacts {
    display: flex;
  }
  .strengths__single-box, .team__memeber-box {
    max-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
    justify-content: space-between;
  }
  .team__list, .clients__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .activity {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */