.strengths {
  &__list {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
  &__single-box {
    max-width: 450px;
    &:not(last-child) {
      padding-bottom: 30px;
    }
  }

  &__single-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: $button-bg-color;
    border-radius: 4px;
    margin: 0 auto;
  }

  &__box-header {
    font-size: 14px;
    line-height: 1.71;
    padding-top: 30px;
    // ====mobile=====
    text-align: center;
  }

  &__box-text {
    line-height: 1.71;
    color: $alt-text-color;
  }
}
