// 1h32min - pierwszego wykładu do 1:45 obejrzałem
// 1h28min - drugiego wykładu 

// 320px min-width
@media screen and (min-width: 768px) {
  .mobile-menu__container, .header__mobile-menu-button
   {
    display: none;
  }
  .header__navi-tabs
   {
    display: flex;}
  .header__contacts {
    display: flex;
  }
  .header .container {
    height:80px;
  }
  .strengths__list {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

  }
  .strengths__single-box {
    width: 354px;
  }
   }


// @media screen and (min-width: 768px) {
//   .header__navi-tabs
//    {
//     display: flex;
//   }
// }