// 1h32min - pierwszego wykładu do 1:45 obejrzałem
// 1h28min - drugiego wykładu

// 320px min-width
@media screen and (min-width: 768px) {
  .mobile-menu__container,
  .header__mobile-menu-button {
    display: none;
  }
  .header__navi-tabs {
    display: flex;
  }
  .header__contacts {
    display: block;
  }
  .header__contact {
    margin: 5px auto;
  }
  .header .container {
    height: 80px;
  }
  .strengths__list,
  .team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .strengths__single-box,
  .team__member-box {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__filter-buttons {
    justify-content: center;
  }
  .potfolio__boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
  }
  .order-buttonfield {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url('../images/img_background_tablet.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .order-buttonfield {
      background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
        url('../images/img_background_tablet@2x.jpg 2x');
    }
  }
  .footer .container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer__address-section {
     padding-right: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .order-buttonfield {
    min-height: 600px;
  }
  .header__contacts {
    display: flex;
  }
  .order-the-service__modal {
    max-width: 528px;
    min-height: 581px;
  }
  .order-the-service__input, .order-the-service__textarea {
   max-width: 448px; 
  }
  .order-the-service__checkbox {
   font-size: 14px;
   line-height: 24px;
  }
  .order-the-service__checkbox-input {
    top: 4px;
  }
  .strengths__single-box,
  .team__member-box {
    max-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
    justify-content: space-between;
  }
  .team__list,
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .activity {
    display: block;
  }

.footer .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
}
    .footer__address-section {
     padding-right: 0;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
  }
  
  // .footer .container {
  //   flex-direction: row;
  //     }
  // .footer__form-section{
  //   align-items: flex-start;
  // }
  // .ft-form {
  //   flex-direction: row;
  //   max-width: 600px;
  // }
  // .ft-form__input, .ft-form__label {
  //   max-width: 358px;
  }
  .order-buttonfield {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url('../images/img_background.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .order-buttonfield {
      background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
        url('../images/img_background@2x.jpg 2x');
    }
  }
  



@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order-buttonfield {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
      url('../images/img_background_mobile@2x.jpg 2x');
  }
}

// @media screen and (min-width: 768px) {
//   .header__navi-tabs
//    {
//     display: flex;
//   }
// }