// 1h32min - pierwszego wykładu do 1:45 obejrzałem
// 1h28min - drugiego wykładu 

// 320px min-width
@media screen and (min-width: 768px) {
  .mobile-menu__container, .header__mobile-menu-button
   {
    display: none;
  }
  .header__navi-tabs
   {
    display: flex;}
  .header__contacts {
    display: block;
  }
  .header__contact {
    margin: 5px auto;
  }
  .header .container {
    height:80px;
  }
  .strengths__list, .team__list {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

  }
  .strengths__single-box, .team__memeber-box {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__filter-buttons{
    justify-content: center;
  }
   }

@media screen and (min-width: 1200px){
  .order-buttonfield{
    min-height: 600px;
  }
  .header__contacts {
    display: flex;
  }
  .strengths__single-box, .team__memeber-box {
    max-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
    justify-content: space-between;
  }
.team__list {
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
  
  .activity {
    display: block;
  }
}

// @media screen and (min-width: 768px) {
//   .header__navi-tabs
//    {
//     display: flex;
//   }
// }